<header>
    <div
      class="
        d-flex
        flex-column flex-md-row
        align-items-center
        pb-3
        mb-4
        border-bottom
      "
    >
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a
          class="me-4 py-2 link-body-emphasis text-decoration-none"
          routerLink="/"
          >Home</a
        >
        <a
          class="me-4 py-2 link-body-emphasis text-decoration-none"
          routerLink="/about"
          >About</a
        >
        <a
          class="me-4 py-2 link-body-emphasis text-decoration-none"
          routerLink="/companies"
          >Companies</a
        >
        <a
          class="me-4 py-2 link-body-emphasis text-decoration-none"
          routerLink="/login"
          >Login</a
        >
      </nav>
    </div>
  </header>
  
